.conta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banco {
  flex-basis: 70%;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.banco-nome {
  font-weight: 700;
}

.saldo {
  flex-basis: 30%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.saldo-texto {
  font-weight: 700;
}