<section class="transacoes-card">
  <h2 class="titulo">Movimentação financeira</h2>

  <div class="corpo-card">
    <ul class="transacoes">
      @for (transacao of transacoes(); track transacao.id) {
        <li class="transacao">
          <app-transacao [transacao]="transacao" />
        </li>
      } @empty {
        <li aria-hidden="true">
          Ainda não há transações.
        </li>
      }
    </ul>

    <app-botao class="botao-adicionar-transacao" texto="Adicionar transação" />
  </div>
</section>