.app {
  min-height: 100vh;
  padding: 0 3.75rem;

  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.barra-lateral {
  flex-basis: 17.625rem;
}

.conteudo-principal {
  padding: 5rem 0;
  flex-basis: 55.875rem;

  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.area-financeira {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "saldo      saldo"
    "transacoes contas";
  grid-template-columns: 1fr 1fr;
}

.saldo {
  grid-area: saldo;
}

.transacoes {
  grid-area: transacoes;
}

.contas {
  grid-area: contas;
}