<app-card>
  <h2 ngProjectAs="[card-titulo]" class="texto-lg">
    Movimentação financeira:
  </h2>

  <div class="transacoes-e-botao">
    <ul>
      @for (transacao of transacoes(); track transacao.id) {
      <li class="item-entre-divisorias">
        <app-transacao [transacao]="transacao" />
      </li>
      } @empty {
      <li aria-hidden="true">
        Ainda não há transações.
      </li>
      }
    </ul>

    <app-botao (click)="abrirModal()" class="botao-adicionar-transacao">
      <img src="icones/moeda.svg" alt="" class="icone-moeda">
      Adicionar transação
    </app-botao>
  </div>
</app-card>

<app-modal [aberto]="modalAberto()"></app-modal>